table {
    background-color: bisque;
    margin: auto;
}
table tr {
    background-color: rgb(204, 149, 255);
}
body {
    text-align: center;
}
button {
    margin-top: 30px;
}
a {
    color: red;
    text-decoration: underline;
    font-weight: bold;
}