#word {
    letter-spacing: 10px;
    padding-bottom: 100px;
}

body {
    text-align: center;
}
button {
    margin-top: 20px;
}
#errors {
    color: red;
}
#showWord {
    display: none;
}
#keyboard p {
    margin-bottom: -30px
}
#keyboard {
    margin-bottom: 40px;
}
#stats {
    border: 3px solid black;
    padding: 10px;
    width: 15%;
    margin: auto;
}
#stats h1 {
    margin-bottom: 0px;
    margin-top: -5px;
}
#stats p {
    margin-bottom: 0px;
    margin-top: 0px;
}
#login {
    background: white;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

#login p {
    font-size: 50px;
}
#login input {
    margin-top: 10px;
    font-size: 30px;
    border-radius: 10px;
    outline: none;
}
#login button {
    margin-top: 10px;
    font-size: 30px;
    border-radius: 10px;
    outline: none;
}
#loginErrors {
    color: red;
    font-size: 30px;
    margin-top: 20px;
}