@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Teko:wght@500&display=swap');
.header {
    width: 100%;
    position: fixed;        
    background: #383434;
    padding: 10px 0;
    color: #fff;
    top: 0;
}
.intro {
    background-color: #264653;
    line-height: 50%;
}
.frueh {
    background-color: #2a9d8f;
}
.apple {
    background-color:#e9c46a;
}
.andere {
    background-color: #f4a261;
}
.tod {
    background-color: #e76f51;
}
.out {
    background-color: #1f1d19;
    color:#fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}
nav a{
    font-family: "Ubuntu", sans-serif;
    color: #fff;
    text-decoration: none;
    padding: 7px 25px;
    display: inline-block;
}
nav a:hover{
    color: rgb(114, 114, 114);
}
html {
scroll-behavior: smooth;
}
.title {
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-size: 75px;
}
.subtitle {
    text-align: center;
    font-family: "Teko", sans-serif;
    font-size: 40px;
}
.text {
    text-align: center;
    font-family: "Nunito", sans-serif;
    line-height: 150%;
    font-size: 25px;
}
.centerimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
.quellen {
    text-align: center;
    font-family: "Nunito", sans-serif;
    line-height: 150%;
    font-size: 25px;
    color:#fff;
}